# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE files
.idea/**

# Project files
**/*.iml

# Ignore data
*/data/**



# compiled output
/NoMoreWait-Front/NoMoreWait-Front/dist
/NoMoreWait-Front/NoMoreWait-Front/dist-server
/NoMoreWait-Front/NoMoreWait-Front/tmp
/NoMoreWait-Front/NoMoreWait-Front/out-tsc

# dependencies
/NoMoreWait-Front/NoMoreWait-Front/node_modules




# misc
/NoMoreWait-Front/NoMoreWait-Front/.sass-cache
/NoMoreWait-Front/NoMoreWait-Front/connect.lock
/NoMoreWait-Front/NoMoreWait-Front/coverage
/NoMoreWait-Front/NoMoreWait-Front/libpeerconnection.log
/NoMoreWait-Front/NoMoreWait-Frontnpm-debug.log
/NoMoreWait-Front/NoMoreWait-Frontyarn-error.log
/NoMoreWait-Front/NoMoreWait-Fronttestem.log
/NoMoreWait-Front/NoMoreWait-Front/typings

# e2e
/NoMoreWait-Front/NoMoreWait-Front/e2e/*.js
/NoMoreWait-Front/NoMoreWait-Front/e2e/*.map


